<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Forum</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="font-weight: bold;" class="navbar-brand" href="{% url 'main:index' %}">Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    style="width: 400px">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div class="col-4">
                <ul class="nav justify-content-end">
                    {% if user.is_authenticated %}
                    <li>
                        <div class="dropdown show user-name">
                            <a id="user-name" class="dropdown-toggle navbar-text" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{user.username}}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'main:ask' %}">Ask</a>
                                <a class="dropdown-item" href="{% url 'main:profile_edit' %}">Edit</a>
                                <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inset">
                            <img src='{{ user.avatar }}' />
                        </div>
                    </li>

                    {% else %}
                    <li>
                        <a class="btn btn-secondary-outline" href="{% url 'main:login' %}" role="button">Login</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary-outline" href="{% url 'main:signup' %}" role="button">Register</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="container main-container">
    {% block container %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
    integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>

</html>
