<div class="pagination justify-content-center">
    <span class="step-links">
        {% if answers.has_previous %}
        <a class="btn btn-sm btn-outline-info" href="?page={{ answers.previous_page_number }}">
            <
        </a>
        {% endif %}

        <span class="current">
            <a class="btn btn-sm btn-outline-info disabled" href="#">{{ answers.number }}</a>
        </span>

        {% if answers.has_next %}
        <a class="btn btn-sm btn-outline-info" href="?page={{ answers.next_page_number }}">
            >
        </a>
        {% endif %}
    </span>
</div>
